.home-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 50px 0 50px;
  flex-direction: column;
}
.update {
  margin: 10px;
  position: relative;
  left: 38vw;
}
